<div class="modal fade" id="vacation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>เพิ่มวันลา</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @vacation, action: @vacation.new_record? ? 'create' : 'update', validate: true, remote: true do |f| %>
        <div class="modal-body">
          <div class="alert alert-danger" id="modalFlashError-<%= controller_name %>" role="alert" style="display:none;"></div>
          <div class="form-inputs">
            <%= f.hidden_field :student_id, value: @student.id %>
            <%= f.input :leave_type, collection: @leave_types, prompt: 'เลือกประเภทการลา', input_html: { class: 'form-control', onchange: 'halfDay(this.value)' } %>
            <div class="row">
              <div class="col-lg-6">
                <%= f.input :start_date, as: :date, input_html: { class: 'form-control' } %>
              </div>
               <div class="col-lg-6">
                <%= f.input :end_date, as: :date, input_html: { class: 'form-control end-date' } %>
                <div class="half-day d-none">
                  <%= f.input :half_day, as: :boolean, checked_value: true, unchecked_value: false, label: 'Morning', input_html: { class: 'form-control' }, disabled: true %>
                </div>
              </div>
            </div>
            <%= f.input :detail, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, 'OK', data: { disable_with: 'Loading' }, class: 'btn btn-outline-primary btn-black' %>
          <button type="button" class="btn btn-outline-secondary btn-black" data-dismiss="modal" aria-label="Close">
            <%= t('close') %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
