<div class="modal fade" id="createOrUpdate" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5><%= action_name.capitalize %> Student</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<%= simple_form_for @student, action: @student.new_record? ? 'create' : 'update', validate:
			true, remote: true do |f| %>
			<div class="modal-body">
				<div
					class="alert alert-danger"
					id="modalFlashError-<%= controller_name %>"
					role="alert"
					style="display:none;"
				></div>
				<div class="form-inputs">
					<%= f.input :first_name, input_html: { class: 'form-control' } %> <%= f.input :last_name,
					input_html: { class: 'form-control' } %> <%= f.input :status, collection: @status, prompt:
					'เลือกสถานะ', input_html: { class: 'form-control' } %> <%= f.input :class_level_id,
					collection: @class_levels, prompt: 'เลือกสถานะ', input_html: { class: 'form-control' } %>
					<%= f.input :total_vacation, collection: (1..24).to_a, prompt: 'เลือกวันลา', input_html: {
					class: 'form-control' } %>
				</div>
			</div>
			<div class="modal-footer">
				<%= f.button :submit, 'OK', data: { disable_with: 'Loading' }, class: 'btn
				btn-outline-primary btn-black' %>
				<button
					type="button"
					class="btn btn-outline-secondary btn-black"
					data-dismiss="modal"
					aria-label="Close"
				>
					<%= t('close') %>
				</button>
			</div>
			<% end %>
		</div>
	</div>
</div>
